.popup__heading {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0 0 43px;
}
@media screen and (max-width: 480px) {
    .popup__heading {
        font-size: 1.3rem;
        line-height: 1.1;
    }
}
@media screen and (max-width: 410px) {
    .popup__heading {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 360px) {
    .popup__heading {
        font-size: 1rem;
    }
}