.profile__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    min-width: 120px;
    min-height: 120px;
}
.profile__overlay:hover {
    background: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/svg/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;
    cursor: pointer;
}