.header__link {
    text-decoration: none;
    text-align: right;
    width: 114px;
    height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.header__link:hover {
    opacity: 0.6;
}
@media screen and (max-width: 905px) {
    .header__link {
        margin-right: 30px;
    }
}