.log-reg__switch-container {
    display: flex;
    margin: 15px 0 0;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
@media screen and (max-width: 360px) {
    .log-reg__switch-container {
        font-size: 12px;
        line-height: 15px;
    }
}