.elements__trash-button {
    visibility: hidden;
    background-image: url(../../../images/svg/Trash.svg);
    position: absolute;
    top: 18px;
    right: 15px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    min-width: 18px;
    min-height: 18px;
    border: none;
    padding: 0;
}
.elements__trash-button:hover {
    opacity: .6;
    cursor: pointer;
}