@import url(./_type/popup_type_new-card.css);
@import url(./_type/popup_type_card-open.css);
@import url(./_type/popup_type_card-remove.css);
@import url(./_type/popup_type_avatar-edit.css);
@import url(./__container/popup__container.css);
@import url(./__container/_card-open/popup__container_card-open.css);
@import url(./__container/_card-remove/popup__container_card-remove.css);
@import url(./__container/_new-card/popup__container_new-card.css);
@import url(./__heading/popup__heading.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__submit-button/_disabled/popup__submit-button_disabled.css);
@import url(./__submit-button/_card-remove/popup__submit-button_card-remove.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__handlers/popup__handlers.css);
@import url(./__input/popup__input.css);
@import url(./__input/_name/popup__input_name.css);
@import url(./__input/_job/popup__input_job.css);
@import url(./__input/_card-name/popup__input_card-name.css);
@import url(./__input/_card-link/popup__input_card-link.css);
@import url(./__input/_error/popup__input_error.css);
@import url(./__input/_name-error/popup__input_name-error.css);
@import url(./__input/_name-error/_active/popup__input_name-error_active.css);
@import url(./__forms/popup__forms.css);
@import url(./__forms/_new-card/popup__forms_new-card.css);
.popup {
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s linear;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
}
